# Prettier configuration

{
  "printWidth": 140,
  "proseWrap": "always",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "endOfLine": "lf",
    "arrowParens": avoid,
    "useTabs": false,
  "jsxBracketSameLine": false,
    "trailingComma": "es5",
}

